# Compiled Class Files #
*.class
/out

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Others Editor Specific Files #
build.properties
build.xml
*.iml
*.idea
.classpath
.project
/bin/

# Gradle #
.gradle

# VS Code #
/build
